<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633651207529-1uudtgvcbqhngv6i3k7b5jd923guupdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633651207529-1uudtgvcbqhngv6i3k7b5jd923guupdp</string>
	<key>API_KEY</key>
	<string>AIzaSyDIycWhPhFXjVEtfWroYwgX_SXa3Q-nC-g</string>
	<key>GCM_SENDER_ID</key>
	<string>633651207529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appLaw</string>
	<key>PROJECT_ID</key>
	<string>fir-app-6beeb</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-6beeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633651207529:ios:e91e9e4d9c695a970bf1f8</string>
</dict>
</plist>